@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display');

// $color-primary: #69818D;
// $color-secondary: #40545B;
// $color-teriatry: #BAB0A5;
// $color-white: #C6C9D5;
// $color-black: #182A33;

$color-primary: rgb(23, 104, 151);
$color-secondary: rgb(55, 124, 64);
$color-teriatry: rgb(0, 255, 0);
$color-white: rgb(241, 241, 241);
$color-black: rgb(19, 7, 7);

$device-sm: '(min-width: 576px)';
$device-lg: '(min-width: 768px)';
$device-lg: '(min-width: 992px)';
$device-xl: '(min-width: 1200px)';
$device-xxl: '(min-width: 1400px)';

html { 
    background: 
        linear-gradient(
            rgba($color-primary, .2),
            rgba($color-primary, .2)
        ),
        url('../images/skyline-background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: color-burn;

}

body {
    background-color: transparent;
    color: $color-black;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar-nav {
    font-family: 'Playfair Display', serif;
    color: $color-primary;
}

h2 {
    margin-bottom: 36px;
    @media #{$device-xl} {
        font-size: 3rem;
    }
}

p {
    @media #{$device-xxl} {
        font-size: 1.25em;
    }
}

a {
    color: $color-primary;
    transition: color 0.2s ease-out;
    &:hover {
        color: $color-secondary;
    }
}

.btn-primary {
    background-color: $color-primary;
    border-color: $color-primary;
}
.btn-secondary {
    background-color: $color-secondary;
    border-color: $color-secondary;
}

.btn-outline-white {
    color: $color-white;
    background-color: transparent;
    background-image: none;
    border-color: $color-white;
    &:hover {
        background-color: $color-white;
        color: $color-primary;
    }
}

.nav-offset {
    height: 56px;
}

#header .main-header, #about-me, #portfolio, #contact {
    background-color: rgba($color-white, 0.85);
    padding-top: 32px;
    padding-bottom: 32px;
    @media #{$device-lg} {
        padding: 80px 125px;
    }
}

#header, #about-me, #portfolio {
    margin-bottom: 160px;
}

#header, #about-me, #portfolio, #contact {
    margin-top: 160px;
}

#header .row {
    margin-left: 0;
    margin-right: 0;
}

.jumbotron {
    padding: 1rem;
    color: $color-white;
    background-color: rgba($color-primary, 0.9);
    h1 {
        color: $color-white;
    }
    p {
        font-size: 1.25em;
    }
    @media #{$device-xxl} {
        p {
            font-size: 1.5em;
        }
    }
    .cta {
        font-size: 24px;
        margin: 40px auto 0;
        padding: 16px 24px;
    }
    figcaption {
        font-family: 'Playfair Display', serif;
        font-style: italic;
        text-align: center;
        padding-top: 12px;
        a {
            color: $color-white;
            text-decoration: underline;
        }
    }
    .btn-outline-white {
        border-width: 4px;
    }
    @media #{$device-lg} {
        padding: 5rem;
        .cta {
            width: 50%;
        }
    }
}

img.laptop {
    max-width: 325px;
    display: block;
    margin: auto;
    @media #{$device-xl} {
        max-width: 100%;
    }
}

.about-copy p {
    @media #{$device-lg} {
        margin-right: 40px;
    }
}

img.about-me {
    border-radius: 50%;
    -webkit-filter: grayscale(60%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(60%);
    max-width: 325px;
    display: block;
    margin: auto;
}

.linkedin-button {
    max-width: 350px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    @media #{$device-lg} {
        margin-bottom: 0;
    }
}

#portfolio h3 {
    font-family: 'Open Sans', sans-serif;
    color: $color-black;
    font-size: 1.35rem;
    @media #{$device-lg} {
        font-size: 1.75rem;
    }
}

.portfolio-links {
    width: 50%;
    margin: 24px auto 0;
    display: flex;
    justify-content: space-around;
}

#contact {
    h3 {
        font-family: 'Open Sans', sans-serif;
        color: $color-black;
    }
    a {
        color: $color-black;
        text-decoration: underline;
        transition: all 0.2s ease-out;
        &:hover {
            color: $color-secondary;
        }
    }
}

.contact-info {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media #{$device-lg} {
        flex-direction: row;
    }
}

.footer-offset {
    height: 68px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #C6C9D5;
    color: #fff;
    font-size: 12px;
    @media #{$device-lg} {
        padding: 8px 125px;
    }
}

footer p {
    margin-bottom: 0;
}

.footer-links {
    text-align: right;
    a {
        color: $color-secondary;
        transition: color 0.2s ease-out;
        &:hover {
            color: $color-primary;
        }
    }
    i:first-child {
        margin-right: 16px;
    }
}